* {
  /* font-family: "Merriweather", serif; */
  /* font-family: 'Noto Serif', serif; */

  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  scroll-behavior: smooth;
  
}

body {
  margin: 0 450px;
  
}

.fa-virus {
  animation: fall 30s linear forwards;
  color: red;
  position: absolute;
  top: -20px;
  z-index: 999;
}
#total_vn {
  font-size: 25px;
  font-weight: 700;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

#covid_data_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#covid_data_table_hcm {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#covid_data_table_hcm_vacxin {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#covid_data_table_hcm_sub {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#covid_data_table_all {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#covid_data_table_hcm_sub_vacxin {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 18px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#author {
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  color: green;
}
#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgba(116, 255, 169, 0.2);
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: rgba(255, 223, 223, 0.884) 0px 3px 8px;
}

#myInput:focus {
  transition: all 0.5s;
  box-shadow: rgb(116, 255, 169) 0px 3px 16px;
  outline: none;
}

#myInputHCMSubVac {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgba(116, 255, 169, 0.2);
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: rgba(255, 223, 223, 0.884) 0px 3px 8px;
}

#myInputHCMSubVac:focus {
  transition: all 0.5s;
  box-shadow: rgb(116, 255, 169) 0px 3px 16px;
  outline: none;
}

#myInputHCM {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgba(116, 255, 169, 0.2);
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: rgba(255, 223, 223, 0.884) 0px 3px 8px;
}

#myInputHCM:focus {
  transition: all 0.5s;
  box-shadow: rgb(116, 255, 169) 0px 3px 16px;
  outline: none;
}

/* #myInputHCMSub {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgba(116, 255, 169, 0.2);
  border-radius: 5px;
  margin-bottom: 12px;
  box-shadow: rgba(255, 223, 223, 0.884) 0px 3px 8px;
}

#myInputHCMSub:focus {
  transition: all 0.5s;
  box-shadow: rgb(116, 255, 169) 0px 3px 16px;
  outline: none;
} */

/* 
#customSelector{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #888;
}
#customSelector select{
  font-size: 18px;
  width: 100%;
  min-height: 40px;
  background: #cbe7ff;
  border-radius: 6px;
  border: 2px solid #2196f3;
  outline: none;
  padding: 0 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  appearance: none;
  color: #111130;
  font-weight: 700;
  
}


#customSelector select option{
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  background-color: gray;
  color: #fff;
  
}


#customSelector select optgroup{
  border-radius: 5px;
  
}

#customSelector::after{
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: red;
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 28px;
  border-radius: 2px;
} */

/* #customSelector .selector-options{
  list-style: none;
  padding: 5px 0;
  margin: 0;
  background: #11436b;
  border-radius: 4px;
  z-index: 100;
  width: 96%;
  position: absolute;
  left: 2%;
  top:35%;

}

#customSelector .selector-options li{
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  color: #fff;
  transition: background 0.3s ease;
}

#customSelector .selector-options li:hover{
  background: #03a9f4;
} */

/* #myInputSubAll {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  padding: 12px 20px 12px 40px;
  border: 1px solid rgba(116, 255, 169, 0.2);
  border-radius: 5px;
  margin-bottom: 12px;
 
  box-shadow: rgba(255, 223, 223, 0.884) 0px 3px 8px;
  width: 100%;
  min-height: 35px;
  background: #cbe7ff;
  border-radius: 3px;
  border: 2px solid #2196f3;
  outline: none;
  padding: 12px 20px 12px 40px;
  font-size: 18px;
  margin-bottom: 12px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
#myInputSubAll:focus {
  transition: all 0.5s;
  box-shadow: rgb(116, 255, 169) 0px 3px 16px;
  outline: none;
  
} */

#customSelector{
  border: 1px dashed red;
    height: 100%;
    font-weight: 700;
    width: 75%;
    margin-bottom: 10px;
}
#customSelector2{
  border: 1px dashed red;
    height: 100%;
    font-weight: 700;
    width: 75%;
    margin-bottom: 10px;
}
#myInputSubAll{
  margin-top:5px;
  font-weight: 700;
  width:100%;
   border:1px solid #ccc
}

#myInputSubAll option{

  font-weight: 700;
 
   
} 

#myInputHCMSub{
  margin-top:5px;
  width:100%;
   border:1px solid #ccc;
   font-weight: 700;
}
#myInputHCMSub option{
  font-weight: 700;
}
#covid_data_table td,
#covid_data_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#covid_data_table_hcm td,
#covid_data_table_hcm th {
  border: 1px solid #ddd;
  padding: 8px;
}

#covid_data_table_hcm_sub td,
#covid_data_table_hcm_sub th {
  border: 1px solid #ddd;
  padding: 8px;
}
#covid_data_table_hcm_sub_vacxin td,
#covid_data_table_hcm_sub_vacxin th {
  border: 1px solid #ddd;
  padding: 8px;
}

#covid_data_table_all td,
#covid_data_table_all th {
  border: 1px solid #ddd;
  padding: 8px;
}

#covid_data_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#covid_data_table_hcm tr:nth-child(even) {
  background-color: #f2f2f2;
}

#covid_data_table_hcm_sub tr:nth-child(even) {
  background-color: #f2f2f2;
}

#covid_data_table_hcm_sub_vacxin tr:nth-child(even) {
  background-color: #f2f2f2;
}

#covid_data_table_all tr:nth-child(even) {
  background-color: #f2f2f2;
}

#covid_data_table tr:hover {
  background-color: #ddd;
}
#covid_data_table_hcm tr:hover {
  background-color: #ddd;
}

#covid_data_table_hcm_sub tr:hover {
  background-color: #ddd;
}
#covid_data_table_hcm_sub_vacxin tr:hover {
  background-color: #ddd;
}

#covid_data_table_all tr:hover {
  background-color: #ddd;
}

#covid_data_table th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

#covid_data_table_hcm th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

#covid_data_table_hcm_sub th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
#covid_data_table_hcm_sub_vacxin th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

#covid_data_table_all th {
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

#total_effect {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: red;
  background-color: #fff;
  font-weight: 700;
  line-height: 2.5;
  font-style: italic;
  width: 100%;
}

#total_recovered {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: green;
  background-color: #fff;
  font-weight: 700;
  line-height: 2.5;
  font-style: italic;
  width: 100%;
}

#total_treating {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: #ff671f;
  background-color: #fff;
  font-weight: 700;
  line-height: 2.5;
  font-style: italic;
  width: 100%;
}
#total_first_injection {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: green;
  background-color: #fff;
  font-weight: 700;
  line-height: 2.5;
  font-style: italic;
  width: 100%;
}
#total_done_injection {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: green;
  background-color: #fff;
  font-weight: 700;
  line-height: 2.5;
  font-style: italic;
  width: 100%;
}
#new_effect {
  display: inline-block;

  padding: 10px;
  font-size: 20px;
  color: red;
  background-color: #fff;
  font-weight: 700;
  font-style: italic;
  line-height: 2.5;
  width: 100%;
}

#total_death {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
  color: black;
  background-color: #fff;
  font-weight: 700;
  font-style: italic;
  line-height: 2.5;
  width: 100%;
}

#total_effect_hcm {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  color: red;
  background-color: #fff;
  font-weight: 700;
  line-height: 2.5;
  font-style: italic;
  width: 100%;
}

#new_effect_hcm {
  display: inline-block;

  padding: 10px;
  font-size: 20px;
  color: red;
  background-color: #fff;
  font-weight: 700;
  font-style: italic;
  line-height: 2.5;
  width: 100%;
}

.audio_container {
  position: relative;
  width: 100%;
  background: #f1f3f4;
}

.audio_container audio {
  width: 100%;
  outline: none;
}
.song_title {
  color: #fff;
  background: #04aa6d;
  padding: 5px;
}

@-moz-keyframes my-sparkle {
  0% {
    opacity: 0;
    -moz-transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
    -moz-transform: rotate(360deg) scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: rotate(720deg) scale(0);
  }
}

@-webkit-keyframes my-sparkle {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0);
  }
}

@keyframes my-sparkle {
  0% {
    opacity: 0;
    transform: rotate(0deg) scale(0);
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotate(720deg) scale(0);
  }
}

#special {
  padding: 10px;
  color: red;
  display: inline-block;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 700;
}
#special_title {
  color: red;
}

#injectionProgress {
  padding: 10px;
  color: red;
  display: block;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
}
#vacxin_title {
  color: red;
}

#click_me_hcm {
  color: red;
  display: inline-block;
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
}
#covid_by_day {
  color: red;
}

@media only screen and (max-width: 1700px){
  body {
    margin: 0 300px;
  }
}
@media only screen and (max-width: 1392px){
  body {
    margin: 0 200px;
  }
}

@media only screen and (max-width: 960px){
  body {
    margin: 0 150px;
  }
}

@media only screen and (max-width: 735px){
  body {
    margin: 0 50px;
  }
}

@media only screen and (max-width: 524px){
  body {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 419px) {
  body {
    margin: 0;
  }
  #total_vn {
    font-size: 18px;
    font-weight: 700;
  }

  #covid_data_table {
    font-size: 16px;
    font-weight: 500;
  }

  #covid_data_table_hcm {
    font-size: 16px;
    font-weight: 500;
  }
  #covid_data_table_hcm_vacxin {
    font-size: 16px;
    font-weight: 500;
  }
  #covid_data_table_hcm_sub {
    font-size: 16px;
    font-weight: 500;
  }
  #covid_data_table_all {
    font-size: 16px;
    font-weight: 500;
  }

  #covid_data_table_hcm_sub_vacxin {
    font-size: 16px;
    font-weight: 500;
  }

  #total_effect {
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    color: red;
    background-color: #fff;
    font-weight: 700;
    line-height: 2.5;
    font-style: italic;
    width: 100%;
  }

  #total_recovered {
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    color: green;
    background-color: #fff;
    font-weight: 700;
    line-height: 2.5;
    font-style: italic;
    width: 100%;
  }

  #total_treating {
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    color: #ff671f;
    background-color: #fff;
    font-weight: 700;
    line-height: 2.5;
    font-style: italic;
    width: 100%;
  }
  #total_first_injection {
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    color: green;
    background-color: #fff;
    font-weight: 700;
    line-height: 2.5;
    font-style: italic;
    width: 100%;
  }
  #total_done_injection {
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    color: green;
    background-color: #fff;
    font-weight: 700;
    line-height: 2.5;
    font-style: italic;
    width: 100%;
  }
  #new_effect {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    color: red;
    background-color: #fff;
    font-weight: 700;
    font-style: italic;
    line-height: 2.5;
    width: 100%;
  }

  #total_death {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    color: black;
    background-color: #fff;
    font-weight: 700;
    font-style: italic;
    line-height: 2.5;
    width: 100%;
  }

  #total_effect_hcm {
    display: inline-block;
    padding: 10px;
    font-size: 17px;
    color: red;
    background-color: #fff;
    font-weight: 700;
    line-height: 2.5;
    font-style: italic;
    width: 100%;
  }

  #new_effect_hcm {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    color: red;
    background-color: #fff;
    font-weight: 700;
    font-style: italic;
    line-height: 2.5;
    width: 100%;
  }
  #special_title {
    font-size: 17px;
    font-weight: 700;
  }
  #vacxin_title {
    font-size: 17px;
    font-weight: 700;
  }
  #click_me_hcm {
    font-size: 17px;
    font-weight: 700;
  }
  #covid_by_day {
    font-size: 17px;
    font-weight: 700;
  }
  #vacxin_title {
    font-size: 17px;
    font-weight: 700;
  }
}





